<?xml version="1.0"?>
<config>
    <modules>
        <Looship_Admin>
            <version>1.0.0</version>
        </Looship_Admin>
    </modules>
    <frontend>
        <routers>
            <standard>
                <use>standard</use>
                <args>
                    <module>Looship_Admin</module>
                    <frontName>looship</frontName>
                </args>
            </standard>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <looship_admin_capture_looid>
                        <type>singleton</type>
                        <class>looship_admin/observer</class>
                        <method>captureLooid</method>
                    </looship_admin_capture_looid>
                </observers>
            </controller_action_predispatch>
            
            <sales_quote_collect_totals_after>
                <observers>
                    <looship_admin>
                        <type>singleton</type>
                        <class>looship_admin/observer</class>
                        <method>quoteShipping</method>
                    </looship_admin>
                </observers>
            </sales_quote_collect_totals_after>
<!--
            <sales_quote_address_collect_totals_after>
                <observers>
                    <looship_admin>
                        <type>singleton</type>
                        <class>looship_admin/observer</class>
                        <method>quoteShipping</method>
                    </looship_admin>
                </observers>
            </sales_quote_address_collect_totals_after>

            <payment_method_is_active>
                <observers>
                    <looship_admin>
                        <type>singleton</type>
                        <class>looship_admin/observer</class>
                        <method>quoteShipping</method>
                    </looship_admin>
                </observers>
            </payment_method_is_active>
-->
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Looship_Admin before="Mage_Adminhtml">Looship_Admin_Adminhtml</Looship_Admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <resources>
            <looship_admin_setup>
                <setup>
                    <module>Looship_Admin</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </looship_admin_setup>
        </resources>
        <helpers>
            <looship_admin>
                <class>Looship_Admin_Helper</class>
            </looship_admin>
        </helpers>
        <models>
            <looship_admin>
                <class>Looship_Admin_Model</class>
            </looship_admin>
        </models>
        <blocks>
            <looship_admin>
                <class>Looship_Admin_Block</class>
            </looship_admin>
        </blocks>
    </global>

    <default>
        <shipping>
            <looship_admin>
                <enabled>0</enabled>
            </looship_admin>
        </shipping>
    </default>
</config>
